#application {
    -fx-background-color: #F4FFFB;
}

#application-n {
    -fx-background-image: url('icons/test');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.control-panel-button {
    -fx-background-radius: 5em;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-max-height: 40px;
    -fx-max-width: 40px;

    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.play-button {
     -fx-background-image: url('icons/play.png');
}

.pause-button {
    -fx-background-image: url('icons/pause.png');
}

.restart-button {
    -fx-background-image: url('icons/restart.png');
}

.step-button {
    -fx-background-image: url('icons/step.png');
}

.close-button {
    -fx-background-radius: 5em;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-max-height: 20px;
    -fx-max-width: 20px;

    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-image: url('icons/close.png');
}

#timer {
    -fx-font-size: 40px;
    -fx-fill: forestgreen;
}

#step-size-input {
    -fx-min-height: 40px;
    -fx-min-width: 100px;
    -fx-max-height: 40px;
    -fx-max-width: 100px;
}

.statistics-dialog {
  -fx-alignment: center;
  /*-fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20%), -fx-glass-color);
  -fx-border-color: derive(-fx-glass-color, -20%);*/
  -fx-background-color: #e3deba;
  -fx-border-color: black;
  -fx-border-width: 5;
  -fx-background-insets: 12;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
}

.statistics-dialog:pressed {
  -fx-cursor: move;
}

.statistics-dialog .button:pressed {
  -fx-cursor: default;
}

.infected-win-dialog {
  -fx-alignment: center;
  /*-fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20%), -fx-glass-color);
  -fx-border-color: derive(-fx-glass-color, -20%);*/
  -fx-background-color: #e3deba;
  -fx-border-color: black;
  -fx-border-width: 5;
  -fx-background-insets: 12;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
}

.infected-win-dialog:pressed {
  -fx-cursor: move;
}

.infected-win-dialog .button:pressed {
  -fx-cursor: default;
}

.infected-win-dialog-title {
    -fx-alignment: center;
    -fx-font-size: 100px Arial Rounded MT Bold;
    -fx-font-weight: 900;
    -fx-stroke: black;
    -fx-letter-spacing: 20px;
    -fx-stroke-width: 5;
}

.statistics-dialog-title {
    -fx-alignment: center;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.statistics-value-text {
    -fx-font-size: 15px;
}

.statistics-label-text {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
